body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: white;
  background-image: url('https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?w=1600');
  background-size: cover;
  background-position: center;
}

#bubble {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  width: 350px;
}

input {
  width: 90%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 15px;
}

input:focus {
  box-shadow: 0 0 15px white;
  transform: scale(1.02);
  transition: 0.3s;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  background-color: orange;
  color: white;
  cursor: pointer;
  font-size: 16px;
  width: 50%;
}

input[type="submit"]:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 114, 255, 0.4);
  background-color: darkorange;
}

#bubble input[type="submit"] {
  display: block;
  margin: 0 auto;
}

#link{
  text-align: center;
}